<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
        <link href="{{url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet" >
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
        <script src="{{url_for('static', filename = 'js/jquery-3.3.1.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/popper.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
        <script src={{url_for('static', filename = 'js/moment.min.js')}}></script>
        <script src={{url_for('static', filename = 'js/Chart.js')}}></script>
        <script src="{{url_for('static', filename = 'js/preloader.js')}}"></script>
        {% block head %}
        {% endblock %}
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>

    <!--Menu-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand" href="{{url_for('main')}}">
                            <img src="/static/img/logo.png" width="33" height="33" class="d-inline-block align-top" alt="">
                            Retail Group[Store DashBoard Test {{bo.version}}]
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('pages', page='dashboard', server=bo.host)}}">Карточка</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('pages', page='server', server=bo.host)}}">Сервер</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('pages', page='poses', server=bo.host)}}">Кассы</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('pages', page='network', server=bo.host)}}">Сеть</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('pages', page='promo', server=bo.host)}}">Цены и Промо</a>
                                </li>
                            </ul>
                            <form class="form-inline" method="get">
                                <input class="form-control mr-sm-2" type="search" placeholder="номер магазина" aria-label="Search" name="store"
                                     value="{{ request.args.get('store', '') }}">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск магазина</button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    {% block left_info %}
                    {% endblock %}
                </div>
                <div class="col-6">
                    {% block right_info %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>


</html>
