{% extends 'base.html' %}

{% block title %}
    Store Board {{bo.bo[0]['name']}}
{% endblock %}



{% block left_info %}
    <table class="table table-sm">
        <caption>Доступность оборудования {{bo.bo[0]['name']}}</caption>
        <thead class="thead-dark">
            <tr>
                <th>Имя</th>
                <th>IP</th>
                <th>Статус</th>
                <th>Uptime</th>
            </tr>
        </thead>
        <tbody>
            {% if bo.bo != [] %}
                <tr><td colspan="4" align="center">BO</td></tr>
                {% for item in bo.bo %}
                    <tr> <td>{{item['name']}}</td><td>{{item['ip']}}</td><td {% if item['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{item['status']}}</td>
                        {% if item['status'] == 'online' %}
                            <td>{{item['uptime']}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}

            {% if bo.pos['name'] != [] %}
                <tr> <td colspan="4" align="center">POS</td></tr>
                {% for i in range(bo.pos['name'] | length) %}
                    <tr> <td>{{bo.pos['name'][i]}}</td><td>{{bo.pos['ip'][i]}}</td><td {% if bo.pos['status'][i] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{bo.pos['status'][i]}}</td>
                        {% if bo.pos['status'][i] == 'online' %}
                            <td>{{bo.pos['uptime'][i]}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}

            {% if bo.cash != [] %}
                <tr> <td colspan="4" align="center">Cash</td></tr>
                {% for item in bo.cash %}
                    <tr> <td>{{item['name']}}</td><td>{{item['ip']}}</td><td {% if item['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{item['status']}}</td></tr>
                {% endfor %}
            {% endif %}

            {% if bo.tsd != [] %}
                <tr> <td colspan="4" align="center">TSD</td></tr>
                {% for item in bo.tsd %}
                    <tr> <td>{{item['name']}}</td><td>{{item['ip']}}</td><td {% if item['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{item['status']}}</td></tr>
                {% endfor %}
            {% endif %}

            {% if bo.bio != [] %}
                <tr> <td colspan="4" align="center">BIO terminal</td></tr>
                {% for item in bo.bio %}
                    <tr> <td>{{item['name']}}</td><td>{{item['ip']}}</td><td {% if item['status'] == 'online' %} bgcolor= 'Green' {% else %} bgcolor='Red' {% endif %}>{{item['status']}}</td></tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% if bo.problems != []  %}
        <table class="table table-sm">
        <caption>Проблемы {{bo.bo[0]['name']}}</caption>
        <thead class="thead-dark">
            <tr>
              <th scope="col">Дата</th>
              <th scope="col">Хост</th>
              <th scope="col">Проблема</th>
            </tr>
        </thead>
        <tbody>
            {% for i in bo.problems %}
                <tr><td>{{i['date']}}</td><td>{{i['host']}}</td><td>{{i['name']}}</td></tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block right_info %}
{% for i in bo.card_graph %}
<div class="chart-container" style="position: relative; height:20vh; width:auto">
    <canvas id="{{i['itemid']}}">
        <script>
Chart.scaleService.updateScaleDefaults('linear', {
    ticks: {
        min: 0
    }
});
new Chart(document.getElementById("{{i['itemid']}}"), {
  type: 'line',
  data: {
    labels: [{% for item in i['time'] %}
                  "{{item}}",
              {% endfor %}],
    datasets: [{
        data: {{i['values']}},
        label: "{{i['name']}}",
        borderColor: "#3e95cd",
        fill: false,
        radius: 1
      }
    ]
  },
  options: {
    maintainAspectRatio: false,
    title: {
      display: false,
      text: '{{i['name']}}'
    }
  }
});
</script>
    </canvas>
</div>
{% endfor %}
{% endblock %}

