{% extends 'base.html' %}

{% block title %}
    Сеть {{bo.bo[0]['name']}}
{% endblock %}



{% block left_info %}
<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th colspan="2">Доступность роутера {{bo.bo[0]['name']}}</th>
    </thead>
    <tbody>
        <tr><td>{{bo.bo[0]['network'][0]['name']}}</td>
            {% if bo.bo[0]['network'][0]['lastvalue'] == '1' %}
                <td>OK</td>
            {% else %}
                <td>NOT OK</td>
            {% endif %}
            </tr>
    </tbody>
</table>
{% endblock %}