{% extends 'base.html' %}

{% block title %}
    Кассы {{bo.bo[0]['name']}}
{% endblock %}

{% block left_info %}
<table class="table table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Метрика</th>
        {% for i in bo.pos['name'] %}
        <th>{{i}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr><td colspan="{{bo.pos['name'] | length + 1}}" align="center"><b>Последний пробитый алкоголь на кассах</b></td></tr>
    <tr><td><b>Дата и время</b></td>
    {% for i in bo.pos['last_alk'] %}
        <td>{{i['date']}}</td>
    {% endfor %}
    </tr>
    <tr><td><b>Товар</b></td>
        {% for i in bo.pos['last_alk'] %}
        <td>{{i['item']}}</td>
    {% endfor %}
    </tr>

    <tr><td colspan="{{bo.pos['name'] | length + 1}}" align="center"><b>Дата и время формирования z-отчета на кассах</b></td></tr>
    <tr><td><b>Дата и время</b></td>
    {% for i in bo.pos['z'] %}
        <td>{{i['date']}}</td>
    {% endfor %}
    </tr>

    <tr><td colspan="{{bo.pos['name'] | length + 1}}" align="center"><b>Дата и время последнего чека на кассах</b></td></tr>
    <tr><td><b>Дата и время</b></td>
    {% for i in bo.pos['last_check'] %}
        <td>{{i['date']}}</td>
    {% endfor %}
    </tr>



    {% for item in bo.pos['metrics'].keys() %}
    <tr><td colspan="{{bo.pos['name'] | length + 1}}" align="center"><b>{{item}}</b></td></tr>
    {% for i in bo.pos['metrics'][item].keys() %}
        <tr><td><b>{{i}}</b></td>
            {% for j in bo.pos['metrics'][item][i] %}
                <td>{{j}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block right_info %}
{% for pos in bo.pos['history'].keys() %}
<div class="chart-container" style="position: relative; height:40vh; width:auto">
    <canvas id="{{pos}}">
        <script>
Chart.scaleService.updateScaleDefaults('linear', {
    ticks: {
        min: 0
    }
    });
new Chart(document.getElementById('{{pos}}'), {
    type: 'scatter',
    data: {
    datasets: [
        {% for i in range(bo.pos['history'][pos] | length) %}
        {
            data:
                [
                    {% for j in bo.pos['history'][pos][i] %}
                    {t: moment.unix({{j['x']}}).format("MM-DD HH:mm:ss"), y: {{j['y']}} },
                    {% endfor %}
                ],
                label: "{{bo.pos['name'][i]}} {{pos}}",
                fill: true,
                showLine: true,
                borderColor: '{{bo.colors[i]}}',
                borderWidth: 1,
                radius: 1,
                pointBackgroundColor: '{{bo.colors[i]}}'

        },
        {% endfor %}
                ]
    },
    options: {
            maintainAspectRatio: false,
            title: {
                display: true,
                text: '{{pos}}'},
            scales: {
                    xAxes: [{
                        type: "time",
                        time:{
                            unit: 'second',
                            displayFormats: {
                                second: 'MM-DD HH:mm:ss'
                            },
                            stepSize: 3600
                            }



                    }]}




    }
    });
</script>
    </canvas>
</div>
{% endfor %}
{% endblock %}