{% extends 'base.html' %}

{% block title %}
    Цены и Промо {{bo.bo[0]['name']}}
{% endblock %}
{% block left_info %}
<table class="table table-sm">
  <caption>Товары с нулевой ценой в {{bo.bo[0]['name']}}</caption>
  <thead class="thead-dark">
    <tr>
            <th>ID PRODUCT</th>
            <th>NAME PRODUCT</th>
    </tr>
    <tbody>
        {% for i in bo.null_prices %}
        <tr><td>{{i['ids']}}</td><td>{{i['item']}}</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block right_info %}
<table class="table table-sm">
  <caption>Действующие акции PROMO в  {{bo.bo[0]['name']}}</caption>
  <thead class="thead-dark">
    <tr>
            <th>PROMO</th>
            <th>DESCRIPTION</th>
    </tr>
    <tbody>
        {% for i in bo.promo %}
        <tr><td>{{i['name']}}</td><td>{{i['description']}}</td></tr>
        {% endfor %}

</tbody>
</table>
{% endblock %}

