{% extends 'base.html' %}

{% block title %}
    Сервер {{bo.bo[0]['name']}}
{% endblock %}
{% block left_info %}
<table class="table table-sm">
  <thead class="thead-dark">
            <tbody>

                <tr><td colspan="2" align="center"><b>Дата и время закрытия кассового дня в магазине {{bo.bo[0]['name']}}</b></td></tr>
                   {% for i in bo.bo[0]['close_day'] %}
                        <tr><td>Дата и время закрытия</td><td>{{i['date']}}</td></tr>
                    {% endfor %}



                        <tr><td colspan="2" align="center"><b>UTM MONITOR {{bo.bo[0]['name']}}</b></td></tr>
                {% for i in bo.bo[0]['utm_monitor'] %}
                <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                {% endfor %}

        </tbody>
        </table>
{% endblock %}
{% block right_info %}
            <table class="table table-sm">
                <thead class="thead-dark">
            <tbody>
            <tr><td colspan="2" align="center"><b>Система {{bo.bo[0]['name']}}</b></td></tr>
                {% for i in bo.bo[0]['system'] %}
                <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                {% endfor %}
            <tr><td colspan="2" align="center"><b>Процессор {{bo.bo[0]['name']}}</b></td></tr>
                {% for i in bo.bo[0]['processor'] %}
                <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                {% endfor %}

            <tr><td colspan="2" align="center"><b>Оперативная память {{bo.bo[0]['name']}}</b></td></tr>
                {% for i in bo.bo[0]['ram'] %}
                <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                {% endfor %}
            <tr><td colspan="2" align="center"><b>Память {{bo.bo[0]['name']}}</b></td></tr>
                {% for i in bo.bo[0]['memory'] %}
                <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                {% endfor %}
            <tr><td colspan="2" align="center"><b>Операционная система {{bo.bo[0]['name']}}</b></td></tr>
                {% for i in bo.bo[0]['os'] %}
                <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                {% endfor %}
            <tr><td colspan="2" align="center"><b>Устройство {{bo.bo[0]['name']}}</b></td></tr>
                {% for i in bo.bo[0]['product'] %}
                <tr><td>{{i['name']}}</td><td>{{i['lastvalue']}}</td></tr>
                {% endfor %}



            </tbody>
            </table>


{% endblock %}

