
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
        <link href="{{url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename = 'css/sticky-footer.css')}}" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
        <script src={{url_for('static', filename = 'js/Chart.js')}}></script>
        <script src="{{url_for('static', filename = 'js/jquery-3.3.1.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/popper.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/preloader.js')}}"></script>
        <title>
            X5 Retail Group
        </title>

    </head>
    <body>
        <!--<div class="preloader"></div>-->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand" href="{{url_for('main')}}">
                            <img src="/static/img/logo.png" width="33" height="33" class="d-inline-block align-top" alt="">
                            Retail Group[Store DashBoard Test {{bo.version}}]
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto"></ul>
                            <form class="form-inline" method="get">
                                <input class="form-control mr-sm-2" type="search" placeholder="номер магазина" aria-label="Search" name="store"
                                    value="{{ request.args.get('store', '') }}">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск магазина</button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-3" id="Tree">
                    <div class="dropdown navbar-brand">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="#">
                            Пятерочка <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            {% for i in bo.hostgroups %}
                                <li class="dropdown-submenu">
                                    <a href="#">{{i['name']}}</a>
                                    <ul class="dropdown-menu">
                                        {% for j in i['hosts'] %}
                                            <li><a tabindex="-1" href="{{(url_for('pages', page='dashboard', server=j['host'][3:]))}}">{{j['host']}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                        {% block Info %}

                        {% endblock %}
                </div>
                <div class="col-6">
                        {% block Graph %}

                        {% endblock %}
                </div>
            </div>
        </div>


<main role="main" class="container">
      <h1 class="mt-5">Тестирование</h1>
      <p class="lead">Полную информацию, собираемую ресурсом, Вы можете увидеть на следующих магазинах:</p>
      <p>BO-3000, BO-3001, BO-3002, BO-3003, BO-3004, BO-3005, BO-3008, BO-3009, BO-3010<br>
          BO-3012, BO-3013, BO-3014, BO-3015, BO-3016, BO-3018, BO-3019, BO-3021, BO-3024<br>
          BO-3025, BO-3026, BO-3027, BO-3028, BO-3029, BO-3030, BO-3031, BO-3032, BO-3033<br>
          BO-3034, BO-3035, BO-3036, BO-3037, BO-3038, BO-3040, BO-3041, BO-3043, BO-3044<br>
          BO-3047, BO-3049, BO-3050</p>
    </main>

     <footer class="footer">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <span class="text-muted" >Все предложения по улучшению присылать на Andrey.Gavrilov@x5.ru</span>
              </div>
          </div>
      </div>
    </footer>


    </body>
</html>
